.navbar {
	width: 100%;
	margin: 25px;
}

.left {
	float: left;
}

.right {
	float: right;
	margin-right: 50px;
}

.content {
	width: 100%;
}

.main-photo {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.searchform {
	width: 50%;
	margin: 0 auto;
}

.searchbar {
	display: block;
	width: 50%;
	margin: 0 auto;
	height: 30px;
	box-shadow: ;
}
