.navbar {
	width: 100%;
	margin: 25px;
}

a {
	text-decoration: none;
	color: #505050;
	margin-right: 15px;
}

a:hover {
	text-decoration: underline;
	color: #707070;
}

i {
	color: #707070;
	margin-right: 15px;
}

i:hover {
	color: #272727;
}

.left-header {
	float: left;
}

.right-header {
	float: right;
	margin-right: 40px;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main-photo {
	display: block;
	width: 15%;
	margin: 0 auto;
	margin-top: 120px;
}

.searchform {
	width: 40%;
	margin: 0 auto;
}

.searchbar {
	display: block;
	width: 65%;
	margin: 0 auto;
	padding-left: 15px;
	height: 40px;
	border: solid 1px #C7C7C7;
	border-radius: 2px;
	box-shadow: 0px 3px 16px 0px rgba(156,153,156,1);
}

.searchbar:focus {
	outline: none;
}

.search-button {
	display: inline-block;
	height: 35px;
	margin-top: 30px;
	margin-right: 5px;
	color: #505050;
}

.lucky-button {
	display: inline-block;
	height: 35px;
	margin-top: 30px;
	margin-right: 5px;
	color: #505050;
}

.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #E8E3E3;
	height: 4vh;
}

.left-footer {
	float: left;
	margin-left: 25px;
	margin-top: 10px;
}

.right-footer {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}